@{ 
    //取得當前購物車所有內容
    var currentCart = ShoppingCarts.Models.Cart.Operation.GetCurrentCart();
}
    
<a  id="CartDropDown" class="dropdown-toggle nav-link " data-toggle="dropdown">
    @String.Format("共{0}元 ({1})", currentCart.TotalAmount,currentCart.Count)
    <span class="caret"></span>
</a>
<ul class="dropdown-menu Cart" role="menu" aria-labelledby="CartDropDown" >
    @if (currentCart.Count > 0)
    {
        foreach (var cartitem in currentCart)
        {
            <li class="dropdown-item">

                <span class="col-xs-10 ">@cartitem.Name @cartitem.Price 元 X @cartitem.Quantity </span>
                <span class="btn btn-danger col-xs-2" onclick="RemoveFromCart('@cartitem.Id')">
                    X
                </span>

                @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@

            </li>
        }
        <li class="divider"></li>
        <li>
            <div id="CartButtons" class="col-xs-12">
                <a class="btn btn-success text-center col-xs-5" href="@Url.Action("Index","Order",new{})">結帳去</a>
                <a class="btn btn-danger text-center col-xs-5" onclick="ClearCart()">清空</a>
            </div>
        </li>
    }
    else
    {
        <li><a href="#" class="btn btn-default text-center">購物車內無任何商品</a></li>
    }

</ul>